/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,600;1,800&display=swap'); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green-color: #557c55;
  --green-white: #a6cf98;
  --red: #cc161e;
  --of-white: #f2ffe9;
  --black-color: #000;
  --landingPagination: rgba(255 255 255 / 59%);
  --white: #ffffff;
  --box-shadow: #0000009c;
  --section-line-co: #0000000f;

  /* new */
  --orange: #bfab7b;
  --orange-black: #b8a36f;
  /* --hover-link-color : #b8a36f;
	--hover-color: #ecd08e; */
  --blue-bg: #58839f;
}

body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth !important;
}
::-webkit-scrollbar {
  width: 15px;
  background-color: #434343;
  box-shadow: inset 1px 1px 5px #434343;
}
::-webkit-scrollbar-thumb {
  /* background-color: linear-gradient(#ecd18e, #434343, #ecd18e 50%); */
  background-color: #ecd18e;
  box-shadow: 0.65rem 0.65rem 2rem #ecd18e, 0.65rem 0.65rem 2rem #ecd18e,
    0.3px 3px 6px #ecd18e inset, -0.3px -2px 6px #ecd18e inset;
    border-radius: 8px;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none !important;
}
/*======= Start Header  =======*/

header .navbar {
  padding: 10px 80px;
}
header .logo {
  width: 80px;
  height: 80px;
}
header .logo > img {
  width: 100%;
  height: 100%;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  margin-top: 0;
}
header .search .dropdown-menu {
  position: absolute;
  top: 0px;
  right: 50%;
  transform: translateX(50%);
  height: 100%;
  width: 50%;
  background: red;
  padding: 10px;
  left: auto;
  background: var(--blue-bg);
  z-index: 100;
}
header .search .dropdown-menu li {
  height: 100%;
  position: relative;
}
header .search .dropdown-menu input {
  width: 100%;
  height: 100%;
  background: var(--blue-bg);
  color: white;
  outline: none;
  border: 0px;
  font-size: 20px;
  padding-right: 40px;
}
header .search .dropdown-menu input::placeholder {
  color: #ccc;
  font-size: 17px;
}
header .search .dropdown-menu li i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-indexl: 100;
  cursor: pointer;
}
header .header_contant .header_contant--info {
  display: flex;
}
header .header_contant div a {
  color: var(--orange);
  display: block;
  transition: 0.3s ease;
}

header .header_contant div a:hover {
  color: var(--orange-black);
}
header .header_contant div .nav-link:focus {
  color: var(--orange) !important;
}
.nav-link::after {
  display: none !important;
}
header .header_contant .navbar-nav {
  gap: 25px;
}
header .header_contant .active {
  color: var(--blue-bg) !important;
}

header .header_contant .nav-link {
  color: var(--orange) !important;
  font-weight: 500;
}

.enquire {
  color: white !important;
  background: #005c7c;
  border-radius: 20px;
  padding-right: 20px !important;
  padding-left: 20px !important;
  font-size: 14px;
}

/*======= Start Global  =======*/
.global {
  align-items: center;
}
.text-center {
  text-align: center;
  font-size: 4rem;
}
/*======= End Global  =======*/
/*======= Start footer  =======*/

footer {
  position: relative;
  /* min-height: 100vh */
}
footer .overley {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  top: 0px;
  left: 0px;
  z-index: 10;
}
footer > img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
}
footer .footer_contant {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 80;
  color: white;
  width: 100%;
  height: 100%;
  padding: 30px 60px;
  display: flex;
  gap: 20px;
  /* flex-wrap: wrap; */
  z-index: 100;
}
footer .footer_contant > div {
  width: 25%;
  color: #b5b5b5;
}
footer .footer_pargraph {
  /* min-width: 100% !important; */
}
footer .footer_contant > div > h2 {
  margin-bottom: 30px;
}
footer .footer_links {
  display: flex;
  flex-direction: column;
}
footer .footer_links > h2 {
  font-size: 23px;
  margin-bottom: 30px;
}
footer .footer_links div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
footer .footer_links div a {
  display: block;
  font-size: 20px;
  color: #b5b5b5;
  cursor: pointer;
  font-weight: bold;
}
footer .footer_links div a span {
  padding-left: 10px;
}
footer .footer_links div a i {
  color: white;
}
footer .footer--contact > div > a > i {
  color: #58839f;
}
footer .footer--contact > div > a > span {
  font-size: 16px;
  font-weight: normal;
}
/*======= End Footer  =======*/
@media (max-width: 1200px) {
  .news {
    padding: 50px 30px;
  }
  footer .footer_contant {
    flex-wrap: wrap;
  }

  .footer_pargraph {
    min-width: 100%;
  }
}
@media (max-width: 1100px) {
  .landing .carousel_text {
    font-size: 20px;
  }
  .airport {
    flex-direction: column;
  }
  .airport .airport_image {
    width: 100%;
  }
  .airport .airport_contant {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
  }
  .business {
    flex-direction: column;
  }
  .business .business_contant {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
  }
  .business .business_img {
    width: 100%;
  }
  .news {
    padding: 50px 15px;
  }
  footer .footer_contant > div {
    width: 30%;
  }
  .text-center {
    font-size: 3rem;
  }
}
@media (max-width: 992px) {
  header {
    margin-top: 40px;
  }
  header .navbar {
    padding: 10px 15px;
  }
  .header_contant--info {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #fafafa;
    width: 100%;
  }
  .header_contant--info a {
    color: #808080;
  }
  .hidden_screen {
    display: none;
  }
  .navbar_screen {
    display: block;
    position: absolute;
    z-index: 100;
    background: white;
    width: 100%;
    left: 0px;
    top: 100px;
  }
  .custom_icon {
    border: 0px !important;
  }
  .navbar-toggler:focus {
    box-shadow: unset !important;
  }
  .navbar_screen a {
    font-size: 20px;
  }
  .news {
    flex-direction: column;
  }
  .news .news_content {
    width: 100%;
  }
  .news .news_images {
    width: 100%;
  }
  .news .news_images_overlay {
    width: 50%;
    height: 250px;
  }
}
@media (min-width: 992px) {
  .header_contant--info {
    display: none;
  }
  .enquire {
    display: none !important;
  }
  .navbar_screen {
    display: none;
  }
}
@media (max-width: 992px) {
  .business .business_contant {
    order: 1;
  }
}
@media (min-width: 769px) {
  .img_hidden {
    display: block;
    background: #fafafa;
  }
}

@media (max-width: 768px) {
  .landing .landing_slider {
    height: 70vh;
  }
  .landing .landing_slider .slide .carousel-inner img {
    padding: 0px 60px;
    object-fit: unset;
  }

  .img_hidden {
    display: none;
  }
  .landing .carousel-control-next,
  .landing .carousel-control-prev {
    display: none;
  }
  .airport .airport_contant p {
    line-height: 50px;
    font-size: 20px;
  }
  .airport .airport_contant a {
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 8px;
  }
  .business .business_contant p {
    font-size: 20px;
  }
  .business .business_contant a {
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
  }
  .contactus .contact_link {
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
  }
  .contactus_content h2 {
    font-size: 19px;
  }

  footer .footer_contant > div {
    width: 43%;
  }
  .text-center {
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  .landing .landing_slider {
    height: 50vh;
  }
  .landing .landing_slider .slide .carousel-inner img {
    padding: 0px 15px;
    object-fit: unset;
  }
  .landing .carousel_text {
    padding: 0px 5px;
    font-size: 15px;
  }
  .enquire {
    display: none !important;
  }
  .header_contant--info {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #fafafa;
    width: 100%;
  }
  .airport .airport_contant {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .airport .airport_contant h2 {
    font-size: 20px;
    text-align: start;
  }
  .airport .airport_contant h3 {
    font-size: 15px;
    text-align: justify;
  }
  .airport .airport_contant p {
    /* text-align: justify; */
  }
  .airport .airport_contant a {
    margin-left: auto;
    margin-right: auto;
  }
  .business .business_contant {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .business .business_contant h2 {
    font-size: 20px;
    text-align: start;
  }
  .business .business_contant h3 {
    font-size: 15px;
    text-align: justify;
  }
  .contactus_content h2 {
    font-size: 15px;
  }
  .news .news_images .news_images__img .news_images__text {
    flex-direction: column;
  }
  .news .news_images_overlay {
    width: 100%;
    height: 250px;
  }
  .news_text {
    width: 100%;
    align-items: end;
  }
  .news_text span {
    display: black;
    margin-right: 10px;
  }
  .news_word {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
    width: 100%;
  }
  footer .footer_contant > div {
    width: 100%;
  }
  footer .footer_contant {
    flex-wrap: wrap;
    gap: 40px;
  }
  .text-center {
    font-size: 1.5rem;
  }
}
@media (min-width: 1500px) {
  header {
    padding: 0px 25px;
  }
}
